
body {
    font-family: Calibri, SansSerif, sans-serif;
}

.diseased {
    font-weight: bold;
    color: #990000;
}

.healthy {
    font-weight: bold;
    color: #009900;
}

/* if this changes significantly, also update in disease.js. This version should be a little darker */
.positive {
    font-weight: bold;
    color: #cc9900;
}

.inputs {
    width: 660px;
}

#bayes-rule-view {
    width: 99%;
    padding: 10px;
    //border: 1px solid blue;
}
#sankey-view {
    float: left;
    width: 50%;
    height: 600px;
}
#venn-diagram-view {
    float: right;
    width: 50%;
    height: 600px;
}

